<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTRGo</title>
    <script src="resource/htmx.min.js"></script>
</head>
<body>
    <h1>PLC Metrics</h1>
    <h2>First Test</h2>
    <div id="metrics" hx-get="/metrics" hx-trigger="load, every 1s" hx-swap="innerHTML">
        <p>Tag Value: <span id="tagValue">Loading...</span></p>
    </div>
    <button hx-post="/update" hx-trigger="click" hx-target="#metrics" hx-swap="innerHTML">Add 1</button>
    <h1>Database</h1>
    <h2>Add a Tag</h2>
    <form id="add-tag-form" hx-post="/add-tag" hx-target="#response" hx-swap="innerHTML">
        <label for="tag">Tag Name:</label>
        <input type="text" id="tag" name="tag" required>
        <label for="type">Tag Type:</label>
        <select id="type" name="type" required>
            <option value="int32">int32</option>
            <option value="real">real</option>
            <option value="bool">bool</option>
        </select>
        <button type="submit">Add Tag</button>
    </form>
    <div id="response"></div>
    <h2>Remove a Tag</h2>
    <form id="remove-tag-form" hx-post="/remove-tag" hx-target="#response" hx-swap="innerHTML">
        <label for="removetag">Tag Name:</label>
        <input type="text" id="removed-tag" name="removed-tag" required>
        <button type="submit">Remove Tag</button>
    </form>
    <div id="response"></div>

    <h2>List Tags</h2>
    <button hx-get="/list-tags" hx-target="#tag-list" hx-swap="innerHTML">List Tags</button>
    <div id="tag-list"></div>

</body>
</html>




