<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTRGo</title>
    <link rel="stylesheet" href="/resources/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/resources/js/metricsChart.js"></script>
    <script src="/resources/js/htmx.min.js"></script>
</head>
<body>
    <h1>VTRGo: Data Collection</h1>
    <!-- Top Navigation Menu -->
    <div class="top-nav">
        <button hx-get="/load-data-tags-section" hx-target="#content-section" hx-swap="innerHTML">Data Tags</button>
        <button hx-get="/load-alarm-tags-section" hx-target="#content-section" hx-swap="innerHTML">Alarm Tags</button>
        <button hx-get="/load-email-section" hx-target="#content-section" hx-swap="innerHTML">Email Recipients</button>
    </div>
    <div class="container">
        <!-- Dynamic Content Section -->
        <div id="content-section">
            <!-- This is where the sections will be dynamically loaded -->
        </div>
    </div>
    <!-- Chart Content -->
    <div id="chart-section" class="chart-container">
        <canvas id="metricsChart"></canvas>
        <div hx-get="/js/metricsChart.js" hx-trigger="load" hx-swap="outerHTML"></div>
    </div>
</body>
</html>
