<div class="container">
<div class="sidebar">
    <button hx-get="/load-list-config-tags" hx-target="#iframe-content" hx-swap="innerHTML">List Config Tags</button>
    <button hx-get="/load-add-config-tags" hx-target="#iframe-content" hx-swap="innerHTML">Add Config Tags</button>
    <button hx-get="/load-remove-config-tags" hx-target="#iframe-content" hx-swap="innerHTML">Remove Config Tags</button>
</div>
<div class="content">

    <div id="iframe-content" class="iframe-content">
        <div id="iframe-content" hx-get="/load-list-config-tags" hx-trigger="load" hx-swap="innerHTML">
        <!-- Dynamic content will be loaded here -->
    </div>
</div>
</div>
