<h2>Dashboard</h2>
    <div id="metrics-section" class="metrics-section" hx-get="/metrics" hx-trigger="load">
        <div id="metrics-data">
        <!-- Metrics data will be dynamically loaded here -->
        </div>
    </div>
    <div id="update-data">
        <button hx-post="/add-one" hx-trigger="click" hx-target="#metrics-section" hx-swap="innerHTML">Add 1</button>
    </div>

    <!-- Chart Content -->
    <div id="chart-section" class="chart-container">
        <canvas id="metricsChart"></canvas>
        <!-- <div hx-get="js/metricsChart.js" hx-trigger="load" hx-swap="outerHTML"></div> -->
    </div>
    